@charset "UTF-8";

#wrap{
	width: 971px;/* 1024*768로 해상도를 맞추어서 설계 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: green;			/* 글 색상 */
}

table{
	width: 100%;
	border-collapse: collapse; /* table tag를 쓸때는 board-collapse 가 자동적으로 따로오고 초기화 역할을 해줌 그리고 따로 분리된 td를 한줄로 보이게 해줌
	font-size: 12px;		/* 글꼴 크기 */
	line-height: 24px		/* 줄 간격 */
}
table td, th {
	border: #d3d3d3 solid 1px; 	/* 경계선 색상 스타일 굵기 */
	padding: 5px;			/* 안쪽 여백 */
}
th {
	background: yellowgreen;	/* 배경색 */
}
img{
	width: 220px;			/* 이미지 너비(가로) */
	height: 300px;			/* 이미지 높이(세로) */
}
a{
	text-decoration:none;	/* 링크 밑줄 없애기 */
	color:black;			/*글 색상 */
}
a:HOVER {
	text-decoration:underline;	/* 밑줄 */
	color:green;				/* 글 색상 */
}